<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EduChosen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F460A4721CF04CA0002A0C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F460A48B1CF04CA1002A0C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F460A4961CF04CA1002A0C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
